html
,body{
	background-color: #fff;
	background-image: url('/img/fondoUTJ1.jpg');
	background-position: center;
	background-repeat: repeat;
	height: 100%;
}
#contenedor_imagen{
	width: 250px;
	min-height: 150px
}
.imagen{
	width: 100%;
	height: 150px;
	max-height: 150px;

}
.max100{
	max-width: 100%;
}
.borrado{
	width: 100%;

}

.form-input-required {
    color: red;
}

/* Standard syntax */
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
  
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
  .apply-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	border-bottom: 5px solid red;
}


.minGrid{
	max-height: 100px;
	overflow: hidden; 
	overflow-x: hidden; 
	overflow-y: auto; 
}

.naranja{
	color: #e0302d;
}
.staticTextArea{
	resize: none;
}
h1,h2,h3{
	color:#838383;
}
.mt60px{
	margin: 60px 0 0 0;
}
.mt40px{
	margin: 40px 0 0 0;
}
.mt10px{
	margin: 10px 0 0 0;
}
.m0px{
	margin: 0px;
}

.mb40px{
	margin-bottom:40px;
}
.mb10px{
	margin-bottom:10px;
}

.f18px{
	font-size: 18px;
}
.f24px{
	font-size: 24px;
}
.bold{
	font-weight: bold;
}
.sinPadding{
	padding: 0px;
}
.sinMargin{
	margin: 0px;
}
.banner{
	border-bottom: 5px solid #248424;
	border-top: 5px solid #54575c;
	background-color: #E6E6E6; 	
	height: 120px;
	min-width: 1200px;
	width: 100%;
}

.encabezado{
	margin: 0 auto;
	width: 1200px;
	height: 140px;	
}

.logo{
	height: auto;
	margin-top: 18px;
	margin-left: 5px;
	width: 80%;
	
}

.menu{
	margin-top: 55px;
	margin-right: 5px;
	/*width: 560px;*/
}

.margin-bottom-3{
	margin-bottom: 3px;
}

.height-5{
	height: 5px;
}

.reloj{
	padding: 10px;
	border: 1px solid #357EBD;
	background-color: #428BCA;
	color: #F9F9F9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.reloj:hover{
	border: 1px solid #285E8E;
	background-color: #FF9900;
	/*cursor: pointer;*/
}

.cursor{
	text-decoration: underline;
}

.cursor:hover{
	cursor: pointer;
}

.fondo-default{
	background-color: #FAFAFA;
}

.fondo-primary{
	background-color: #99BCDB;
}

.fondo-success{
	background-color: #EFF7EB;
}

.fondo-info{
	background-color: #ECF6FB;
}

.fondo-warning{
	background-color: #FDFBF1;
}

.fondo-danger{
	background-color: #F8EEEE;
}
footer{
	float:bottom 0px;
	bottom:0px;
	height: 40px;
	min-width: 1200px;
	width: 100%;
	position: relative;
	
}
#footer2{
	float:bottom 0px;
	bottom:0px;
	height: 40px;
	min-width: 1200px;
	width: 100%;
	position: relative;
	background-color: #248424;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.error{
	color: red !important;
}

.cuerpo-lista-encuestas{
	height: 300px;
	background-color: #E6E6E6;
	overflow-y: scroll;
	border-radius: 20px;
}
.padding5px{
	padding: 5px;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.cuerpo-encuesta{
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
	background-color: #F4F4F4;
}
.margen-top{
	margin-top: 15px;
}
.ajuste-etiqueta{
	word-wrap: break-word;
    text-align: left !important;
}

.ancho-celda{
	width: 200px;
}
.cuerpo-concentrado{
	max-width: 1200px;
	width: 1200px;
	overflow-x: scroll;
	background-color: #fff;
}

.cursor-modificado{
	cursor: pointer;
}